- name: Deploy database
  hosts: host1
  tasks:
    - include_vars: config_1.yaml
    - name: Run database.sh
      ansible.builtin.script:
        cmd: scripts/database.sh {{ db_port }}

- name: Deploy backend
  hosts: host1
  tasks:
    - include_vars: config_1.yaml
    - name: Run backend.sh
      ansible.builtin.script:
        cmd: scripts/backend.sh {{ backend_port }} {{ db_ip }} {{ db_port }}

- name: Deploy frontend
  hosts: host2
  tasks:
    - include_vars: config_1.yaml
    - name: Run frontend.sh
      ansible.builtin.script:
        cmd: scripts/frontend.sh {{ backend_ip }} {{ backend_port }} {{ frontend_port }}
