- name: Deploy database
  hosts: host1
  tasks:
    - include_vars: config_1.yaml
    - name: Run database.sh
      ansible.builtin.script:
        cmd: scripts/database.sh {{ db_port }}

- name: Deploy backend
  hosts: host1
  tasks:
    - include_vars: config_1.yaml
    - name: Clone a github repository
      git:
        repo: https://github.com/spring-petclinic/spring-petclinic-rest.git
        dest: ~/backend/spring-petclinic-rest
        clone: yes
        update: yes
    - name: Run backend.sh
      ansible.builtin.script:
        cmd: scripts/backend.sh {{ backend_port }} {{ db_ip }} {{ db_port }}
    - name: Start backend
      shell: cd /backend/spring-petclinic-rest; nohup ./mvnw spring-boot:run &

- name: Deploy frontend
  hosts: host2
  tasks:
    - include_vars: config_1.yaml
    - name: Clone a github repository
      git:
        repo: https://github.com/spring-petclinic/spring-petclinic-angular.git
        dest: ~/frontend/spring-petclinic-angular
        clone: yes
        update: yes
    - name: Run frontend.sh
      ansible.builtin.script:
        cmd: scripts/frontend.sh {{ backend_ip }} {{ backend_port }} {{ frontend_port }}
    - name: Start backend
      shell: cd /frontend/spring-petclinic-angular; nohup npx angular-http-server --path ./dist -p {{ frontend_port }} > angular.out 2> angular.err &

